* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: rgba(27, 26, 26, 0.75);
}

#header {
    background: url('assets/img/1.jpg') 50% 0 no-repeat fixed;
    height: auto;
    background-size: cover !important;
    background-position: center center;
    overflow: hidden;
    background-attachment: fixed !important;
}

#header::before {
    content: "";
    display: inline-block;
    height: 80.5%;
    margin-left: 0;
    position: absolute;
    z-index: 0;
    margin-top: 0;
    width: 100%;
    background-color: rgba(27, 26, 26, 0.75) !important;
    background-image: linear-gradient(180deg, rgba(27, 26, 26, 0.75) 0%, rgba(27, 26, 26, 0) 34%, rgba(27, 26, 26, 0) 82%, rgba(27, 26, 26, 0) 100%) !important;
}

.logo {
    margin-bottom: 10px;
    z-index: 1;
}

.container-header a {
    padding: 20px;
}

.dropdown ul li a {
    font-size: 14px;
    font-weight: 700;
    line-height: 100px;
    z-index: -1;
    color: white;
    padding: 0;
}

.dropdown ul li:hover .page {
    color: #bb9356;
    border-bottom: 2px solid #bb9356;
    transition: all 0.4s;
}

.dropdown ul .home-li a:hover {
    cursor: pointer;
}

.dropdown ul li a::before {
    background-color: #bb9356;
    /* width: 100%; */
    position: absolute;
    transition: all 0.4s;
    bottom: 35px;
    height: 2px;
    background: transparent;
}

.dropdown ul .home-li .page:hover {
    color: #bb9356;
    border-bottom: 2px solid #bb9356;
    cursor: pointer;
}

.dropdown ul li .page:hover {
    cursor: pointer;
    transition: all 0.3s ease !important;
    color: #bb9356;
    border-bottom: 2px solid #bb9356;

}

.interactive .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: white;
    -webkit-font-smoothing: antialiased;
    margin-right: 8px;
}

.fa-quote-right:before {
    content: "\f10e";
}

.fa-toggle-right:before {
    content: "\f152";
}

.fa-newspaper-o:before {
    content: "\f1ea";
}

.fa-group:before {
    content: "\f0c0";
}

.fa-dot-circle-o:before {
    content: "\f192";
}

.interactive {
    color: #bb9356 !important;
    cursor: default;
    font-weight: 600;
    text-decoration: none;
    border-bottom: none;
    padding-left: 0;
    transition: all 0.35s;
    text-transform: capitalize;
    line-height: 40px;
    padding: 0;
    margin: 0 25px;
    font-size: 14px !important;
}

.home-li:hover .home-content {
    display: block;
}

.home-contenttt {
    display: block;
    float: right;
    margin-right: -80px !important;
    color: #7f7f7f;
    margin-top: -40px;
}

header .home-content .slider:hover .home-contenttt {
    display: block !important;
}

/* DROPDOWN */
header .home-content {
    display: none;
    width: 100%;
    padding-left: 10px;
    margin-top: -30px;
    margin-left: -30px;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    right: auto;
    min-width: 190px;
    padding: 20px 0 !important;
    background-color: #1b1a1a;
}

header .home-content ul li a {
    line-height: 40px;
    color: #7f7f7f;
    font-size: 13px !important;
    font-weight: 400;
    transition: all 0.35s;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid #1e1e1e;

}

header .home-content li a:hover {
    background-color: transparent;
    color: #bb9356;
    padding: 0 0 0 12px;
}

header .home-contentt {
    position: absolute;
    transform: scaleY(1);
    opacity: 1;
    z-index: 1001;
    margin-top: -1px;
    margin-left: 0;
    padding: 13px 0;
    position: absolute;
    left: 100%;
    right: auto;
    top: 0;
    display: none;
}

header .home-content .slider:hover .home-contentt {
    display: block;
}

.book {
    border: 1px solid #bb9356;
    background-color: #bb9356;
    letter-spacing: 0.26px;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin-right: 25px;
    margin-top: 37px;
    height: 25px;
}


.book:hover {
    cursor: pointer;
    color: #bb9356;
    background-color: white;
    border: 1px solid white;
}

.shopping-card {
    margin-left: 70px;
    margin-bottom: 20px;
    z-index: 1;
}

.search {
    margin-bottom: 20px;
    z-index: 1;
}

.bar {
    margin-bottom: 20px;
    z-index: 1;
}

.container-dropdown ul li a {
    line-height: 40px;
    position: relative;
    color: #7f7f7f;
    display: block !important;
    font-size: 13px;
    font-weight: 400;
    transition: all 0.35s;
    text-transform: capitalize;
    margin: 0 25px;
}

.title-content {
    z-index: 1;
}

.title-subtitle {
    color: #bb9356;
    font-family: 'Ruthie', cursive;
    font-size: 45px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
}

.title-heading h1 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 0;
    font-family: 'Abril Fatface', cursive;
}

.breadcrumb-item {
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 1;
    background: transparent;

}

.breadcrumb-item::after {
    padding: 0 5px;
    color: #f9f9f9;
    content: "/\00a0";
}

.breadcrumb nav ol {
    margin-bottom: 10px;
}

.breadcrumb ol li a:hover {
    color: #bb9356 !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

.title-heading {
    margin-bottom: 100px;
}

.title-subtitle {
    margin-top: 140px;
}

.filter ul li a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-right: 25px;
    text-transform: capitalize;
    letter-spacing: 0.44px;
    padding-bottom: 10px;
}

#shop {
    padding-top: 110px;
    padding-bottom: 110px;
}

.filter ul li .page:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: #bb9356 !important;
    border-bottom: 2px solid #bb9356;
}

.shape-down {
    width: 124px;
    height: 13px;
    background: url(assets/img/arrow-down.png) center no-repeat;
    /* margin-right: -109px; */
    margin-left: 30%;
    display: flex;
    z-index: 2;
    align-items: center;
}

.filter ul li .shop {
    color: #bb9356;
    border-bottom: 2px solid #bb9356;
}

.product-item img {
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    height: auto;
    vertical-align: middle;
}

.product-content .product-title a {
    color: #282828;
    margin-bottom: 10px;
    display: block;
}

.product-content .product-title h3 {
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.product-content .product-title :hover {
    color: #bb9356 !important;
    cursor: pointer;
}

.product-price span {
    color: #bb9356;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

.pagination .one {
    background-color: #bb9356 !important;
    border-radius: 1px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    width: 51px;
    height: 51px;
    line-height: 51px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .one:hover {
    cursor: pointer;
}

.pagination li a {
    text-decoration: none;
    color: white;
}

.pagination-li {
    margin-top: 50px !important;
}

.pagination .list-item {
    background-color: #333 !important;
    border-radius: 1px;
    border-color: #333;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    width: 51px;
    height: 51px;
    line-height: 51px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .list-item:hover {
    border-color: #bb9356 !important;
    background-color: #bb9356 !important;
    cursor: pointer;
}

.shape-dark {
    width: 124px;
    height: 13px;
    background: url('assets/img/arrow-down-dark.png') center no-repeat;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -62px;
    margin-top: -10px;
}

.footer-content h3 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
}

footer {
    background-color: #222222
}

footer .footer-icons .fa:hover {
    background-color: #bb9356;
    color: #ffffff;
    transition: all 0.4s ease-in-out;
}

footer .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: white;
    font-size: 14px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #1c1c1c;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
}

.footer-content {
    text-align: center;
    margin-top: 80px !important;
}

.footer-content p {
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 0;
    color: #a5a5a5;
    margin-top: 20px;
}

.newsletter form {
    margin: 0 auto;
    width: 270px;
}

.newsletter input {
    box-shadow: none;
    border: none;
    background-color: #1c1c1c !important;
    color: #474747;
    font-style: italic;
    width: 270px;
    height: 42px;
    line-height: 42px;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    background: transparent;
    padding-left: 18px;
    border-radius: 2px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 6px 12px;
}

.newsletter button {
    background-color: transparent;
    border: none;
    line-height: 42px;
    color: #bb9356;
    position: absolute;
    margin-left: -40px;

    font-size: 13px;
    text-transform: uppercase;
}

.newsletter button:hover {
    cursor: pointer;
}

.shape-dark2 {
    width: 108px;
    height: 28px;
    background: url('assets/img/arrow-down-dark2.png') center no-repeat;
    position: absolute;
    text-align: center !important;
    /* margin-top: -22px; */
    margin-top: 58px;
    left: 50%;
    margin-left: -54px;

}

.container-footer {
    background-color: #1b1b1b;
    padding: 42px 0;
    position: relative;
    text-align: center;
    color: white;
}

.container-foot {
    margin-bottom: 80px;
}

.contact-info span {
    font-size: 13px;
    margin-right: 5px;
    margin-left: 5px;
    color: #a5a5a5;
}

.contact-info {
    margin-bottom: 20px;
    text-align: center;
}

.contact-info a {
    color: #bb9356;
    font-size: 13px;
    text-decoration: none;
}

/*Book a table page */
#bookatable {
    background: url('assets/img/bookatable.jpg') 50% 0 no-repeat fixed;
}

#reservation .reservation-desc {
    font-size: 14px;
    font-weight: 400;
    padding: 0 150px !important;
    margin-bottom: 50px;
    color: #a5a5a5;
    line-height: 1.5;
    text-align: center !important;
}

#reservation .row {
    margin-right: -15px;
    margin-left: -15px;

}

#reservation {
    padding-top: 90px;
    padding-bottom: 80px;
}

#reservation .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;

}

#reservation .form-control {
    line-height: 1;
    color: #a5a5a5;
    cursor: pointer;
    appearance: none;
    border: 1px solid #eee;
    background: transparent;
    padding-left: 18px;
    margin-bottom: 30px;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    border-radius: 2px;
    box-shadow: none;
    height: 49px;
    display: block;
    width: 60%;
    padding: 6px 12px;
    left: 50%;
    /* margin-left: 100px;
    margin-right: 100px; */
    /* margin: 0 150px !important;  */
}

#reservation form .fa {
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    line-height: 49px;
    right: 20px;
    z-index: 1;
    pointer-events: none;
    cursor: pointer;
    color: #b8b8b8;

}

/* #reservation form #date {
    margin-right: 50px;
} */
#reservation .button button {
    background-color: #222222;
    border-color: #222222;
    color: #ffffff;
    width: 80%;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center !important;
    border-radius: 0;
    padding: 0;
    line-height: 49px;
    height: 51px;
    letter-spacing: 0.28px;
    margin-left: 100px;
}

#reservation form .form #date {
    margin-left: -80px;
}

#reservation form .form #time {
    margin-left: -150px;
}

#reservation .button button:hover {
    cursor: pointer;
    background-color: #bb9356;
    border: 2px solid #bb9356;
}

#reservation strong {
    font-weight: 700;
}

#reservation strong span {
    font-size: 13px;
    color: #a5a5a5;
    line-height: 1.5;
}

#reservation strong a {
    font-size: 13px;
    color: #bb9356;
    line-height: 1.5;
    text-decoration: none;
}

#testimonials {
    background-image: url('assets/img/background.jpg');

}

.divider--shape-1up {
    width: 124px;
    height: 13px;
    background: url('assets/img/arrow-up.png') center no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -62px;
}

#testimonials .testimonial-img {
    width: inherit !important;
    border-radius: 0;
    height: inherit;
    line-height: 54px;
}

#testimonials .testimonial-body p {
    font-size: 44px;
    font-family: 'Ruthie', cursive;
    font-weight: 400;
    line-height: 39px;
    margin-bottom: 23px;
    margin: 0 0 10px;
    padding: 20px;
}

#testimonials .testimonial-author h4 {
    font-size: 13px;
    line-height: 1.3;
    color: #bb9356 !important;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
}

#testimonials .testimonial-panel {
    padding-top: 150px;
    padding-bottom: 150px;
}

.divider--shape-1down {
    width: 124px;
    height: 13px;
    background: url('assets/img/arrow-down.png') center no-repeat;
    position: absolute;
    left: 50%;
    text-align: center;
    /* margin-top: 50px !important; */
    margin-left: -62px;
    margin-top: -12px;
}

#banner6 {
    padding-bottom: 90px;
    padding-top: 110px
}

#banner6 .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#banner6 .row {
    margin-right: -15px;
    margin-left: -15px;
}

#banner .row::before {
    display: table;
    content: " ";
}

#banner6 .banner-panel .banner-img {
    margin-bottom: 28px;
    position: relative;
    vertical-align: middle;
    border: 0;
}

#banner6 .banner-panel .banner-img img {
    max-width: 100%;
    height: auto;
    position: relative;
}

#banner6 .banner-panel .banner-img::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px dashed #bb9356;
    opacity: 0.45;
    z-index: 1;
}

#banner6 .banner-panel .banner-content h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

#banner6 .banner-panel .banner-content p {
    font-size: 13px;
    margin-bottom: 20px;
    color: #a5a5a5;
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

/* OUR CHEF */
#chef {
    background: url('assets/img/ourchef.jpg') 50% 0 no-repeat fixed;
}

#team .member-img {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    vertical-align: middle;
}

#team .member-img img {
    transition: all 0.35s;
}

#team .member:hover .member-img img {
    transform: scale(1.1);
}

#team .member-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    border-radius: 2px;
    background-color: rgba(34, 34, 34, 0.9);
    width: 100%;
    height: 100%;
}

#team .pos-vertical-center {
    text-align: center;
    margin-top: 50%;
}

#team .member:hover .member-overlay {
    display: block;
}

#team .member:hover .member-overlay .member-hover {
    opacity: 1;
}

#team .fa .fa-facebook:before {
    content: "\f09a";
}

#team .member-hover a {
    text-decoration: none;
}

#team .member-hover a {
    height: 42px;
    width: 42px;
    line-height: 42px;
    background-color: #bb9356;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-right: 10px;
    display: inline-block;
}

#team .member-hover .member-social a:hover {
    background-color: white;
    cursor: pointer;
}

#team .member-hover .member-social a:hover i {
    color: #bb9356;
}

#team .fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
}

#team .col-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
}

#team {
    padding-bottom: 80px;
    padding-top: 110px;
}

#team .member-info {
    padding-top: 30px;
    text-align: center;
}

#team .member-info h5 {
    color: #282828;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 14px;
}

#team .member-info h6 {
    color: #a5a5a5;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
}

#skills .heading {
    margin-top: 80px !important;
    text-align: center;
}

#skills .heading p {
    color: #bb9356;
    font-family: 'Ruthie', cursive;
    font-size: 45px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 5px;
    text-transform: capitalize;
    margin: 0 0 10px;
}

#skills .heading h2 {
    font-family: 'Abril Fatface', cursive;
    color: #222222;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;

}

.divider--shape-4 {
    width: 100%;
    height: 16px;
    background: url('assets/img/shape-4.png') center no-repeat;
    margin-bottom: 25px;
    margin-top: 22px;
}

#skills .heading .heading-desc {
    font-family: 'Poppins', sans-serif;
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    padding: 0 40px;
}

#skills .progressbar .progressbar-title {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

#skills .progressbar .progressbar-title .title {
    color: #282828;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#skills .progressbar .progressbar-title .value {
    float: right;
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    color: #a5a5a5;
    padding-top: 0;
}

#skills .progressbar {
    /* margin-bottom: 37px; */
    margin-top: 37px;
}

#skills .progress {
    height: 9px;
    background-color: #282828;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
}

#skills .progress .progress-bar {
    height: 3px;
    margin: 3px 0 0 3px;
    background-color: #bb9356;
    border-radius: 0;
    box-shadow: none;
}

/* MENU-GALLERY */
#page-title {
    background: url('assets/img/menugalery.jpg') 50% 0 no-repeat fixed;
}

#menugallery .dish-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    -webkit-transition: all .3s linear !important;
    transition: all .3s linear !important;
    height: 100%;
}

#menugallery .dish-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.5);

}

#menugallery .pos-vertical-center {
    text-align: center;
    margin-top: -18% !important;
}

#menugallery .dish-panel:hover .dish-overlay {
    display: block;
}

#menugallery .dish-panel:hover .dish-overlay .dish-hover {
    opacity: 1;
}

#menugallery a {
    text-decoration: none;
}

#menugallery.dish-hover a {
    height: 42px;
    width: 42px;
    line-height: 42px;
    background-color: #bb9356;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-right: 10px;
    display: inline-block;

}

#menugallery .dish-overlay:hover:before {
    transform: scale(1);
}

#menugallery .dish-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s linear;
}

#menugallery .fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-top: 50%;
    color: #ffffff;
}

#menugallery .dish-hover i {
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    position: absolute;
    /* top: 50%; */
    transform: translate(0px, -50%);
    left: 0;
    right: 0;
}

#menugallery .fa-search-plus:before {
    content: "\f00e";
}

#menugallery ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}

#menugallery ul li {
    float: none;
    display: inline-block;
    margin: 20px 11px;
}

#menugallery ul li a {
    padding: 0 0 7px 0;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0;
    border: none;
    text-decoration: none;
}

#menugallery ul li .page:hover {
    color: #bb9356;
    border-bottom: 2px solid #bb9356;
    cursor: pointer;
    transition: all 0.3s ease;
}

#menugallery ul li .active {
    color: #bb9356;
    border-bottom: 2px solid #bb9356;
    cursor: pointer;
    transition: all 0.3s ease;
}

#menugallery .dish-img {
    margin-bottom: 20px;
    position: relative;
    vertical-align: middle;
    border: 0;
    overflow: clip;

}

#menugallery .dish-tag {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 3px 6px;
    background-color: #bb9356;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

#menugallery .dish-content .dish-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    color: #333333;
    margin-bottom: 0;
    float: left;
}

#menugallery .dish-content .dish-price {
    font-size: 15px;
    font-weight: 600;
    line-height: 29px;
    color: #bb9356;
    text-align: right;
}

#menugallery .dish-content .dish-desc {
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #a5a5a5;
    margin-bottom: 0;
    /* margin: 0 0 10px; */
    display: block;
    float: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* BLOG STANDART */
#blog-standart {
    background: url('assets/img/blogstandart.jpg') 50% 0 no-repeat fixed;
}

#blog2 {
    padding-top: 110px;
    padding-bottom: 110px;
    overflow: hidden;

}

#blog2 .entry-meta {
    line-height: 1;
    margin-bottom: 10px;
    color: #616161;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: capitalize;
}

#blog2 .entry-meta span {
    padding: 0 5px;
}

#blog2 .entry-meta a {
    transition: all 0.3s ease;
    color: #bb9356;
    text-decoration: none;
}

#blog2 .entry-title {
    margin-bottom: 20px;
}

#blog2 .entry-title h4 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
    color: #222222 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0 0 28px;
}

#blog2 .entry-title h4 a {
    text-decoration: none;
    color: #222222;
}

#blog2 .entry-title h4 a:hover {
    color: #bb9356;
    transition: all 0.3s ease;
}

#blog2 .entry-img {
    overflow: hidden;
    margin-bottom: 25px;
}

#blog2 .entry-bio {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #a5a5a5;
}

.widget-search form {
    border: 1px solid rgba(34, 34, 34, 0.07);
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 20px;
}

.widget-search input {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #9e9e9e;
    font-size: 13px;
    font-weight: 400;
    line-height: 49px;
    height: 49px;
    text-transform: capitalize;
    padding-left: 15px;
}

.widget-search button {
    background-color: transparent;
    color: #bb9356;
    border-radius: 0;
    width: 35px;
    height: 49px;
    line-height: 29px;
    text-align: center;
    font-size: 14px;
    border: none;
    margin-left: 0;
    padding: 0;
}

#blog2 .widget-recent-post .recent-title {
    position: relative;
    margin-bottom: 20px;
}

#blog2 .widget-recent-post .recent-title::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #222222;
}

#blog2 .widget-recent-post .recent-title h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 10px;
}

#blog2 .widget-content {
    margin-bottom: 24px;
    min-height: 50px;
    border-bottom: 1px dashed #d8d8d8;
}

#blog2 .widget-content .entry-desc {
    position: relative;
    margin-left: 60px;
    padding-bottom: 10px;
    margin-top: -50px;

}

#blog2 .widget-content .entry-meta2 {
    line-height: 1;
    margin-bottom: 12px;
}

#blog2 .widget-content .entry-desc .entry-meta2 .time {
    font-family: 'Poppins', sans-serif;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1;
    color: #686868 !important;
    text-transform: uppercase;
    letter-spacing: 0.22px;
    text-decoration: none;
}

#blog2 .widget-content .entry-desc .entry-title2 {
    margin-bottom: 5px;
}

#blog2 .widget-content .entry-desc .entry-title2 a {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    text-decoration: none;
}


#blog2 .widget-content2 .entry-desc {
    position: relative;
    margin-left: 60px;
    padding-bottom: 10px;
    margin-top: -50px;

}

#blog2 .widget-content2 .entry-meta2 {
    line-height: 1;
    margin-bottom: 12px;
}

#blog2 .widget-content2 .entry-desc .entry-meta2 .time {
    font-family: 'Poppins', sans-serif;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1;
    color: #686868 !important;
    text-transform: uppercase;
    letter-spacing: 0.22px;
    text-decoration: none;
}

#blog2 .widget-content2 .entry-desc .entry-title2 {
    margin-bottom: 5px;
}

#blog2 .widget-content2 .entry-desc .entry-title2 a {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    text-decoration: none;
}

#blog2 .widget-instagram {
    margin-bottom: 60px;
}

#blog2 .widget-instagram .widget-title {
    position: relative;
    margin-bottom: 20px;
}

#blog2 .widget-instagram .widget-title h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 10px;

}

#blog2 .widget-instagram .widget-title::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #222222;
}

#blog2 .widget-tags {
    margin-bottom: 60px;
}

#blog2 .widget-tags .widget-title {

    position: relative;
    margin-bottom: 20px;
}

#blog2 .widget-tags .widget-title h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 10px;
}

#blog2 .widget-tags .widget-title::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #222222;
}

#blog2 .widget-tags .widget-contentt a {
    display: inline-block;
    border: 1px solid #ececec;
    background-color: transparent;
    color: #a5a5a5;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin-right: 7px;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 9px 10px;
}

#blog2 .widget-tags .widget-contentt a:hover {
    background-color: #bb9356;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

/* FAQS */
#faq {
    background: url('assets/img/faq.jpg') 50% 0 no-repeat fixed;
}

#faqq {
    padding-top: 110px;
    padding-bottom: 110px;
    overflow: hidden;
}

#faqq .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#faqq .container,
.row::before {
    display: table;
    content: " ";
    box-sizing: border-box;
}

#faqq .container .row {
    margin-right: -15px;
    margin-left: -15px;
}

#faqq .accordion {
    background-color: transparent;
    border-radius: 0;
    border: none;
}

#faqq .accordion .panel {
    box-shadow: 0 1px 5px rgba(40, 40, 40, 0.1);
    border-radius: 1px;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-bottom-color: rgba(49, 49, 49, 0.1);
    padding: 10px;
}

#faqq .accordion .panel .panel-heading {
    padding: 19px;
    border: 1px dashed #bb9356;
}

#faqq .accordion .panel .panel-heading a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #282828;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    display: block;
    line-height: 27px;
    text-decoration: none;
}

#faqq .accordion .panel .panel-heading a::before {
    position: absolute;
    right: 0;
    top: 0;
    content: "\f068";
    font-family: fontawesome;
    font-size: 11px;
    color: #ffffff;
    background-color: #bb9356;
    border: 1px solid #bb9356;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 0;
}

#faqq .accordion .panel .panel-heading .question::before {
    position: absolute;
    right: 0;
    top: 0;
    content: "\f067";
    font-family: fontawesome;
    font-size: 11px;
    color: #ffffff;
    background-color: #bb9356;
    border: 1px solid #bb9356;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 0;
}

#faqq .accordion .panel .panel-body {
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border: 1px dashed #bb9356;
    margin-top: 10px;
    color: #a5a5a5;
}

#faqq .widget-info {
    background-color: #222222;
    padding: 50px 36px;
    text-align: center;
    position: relative;
}

#faqq .divider--shape-10up {
    width: 124px;
    height: 13px;
    background: url(assets/img/shape-10up.png) center no-repeat;
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -62px;
}

#faqq .widget-info .info-title {
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 20px;
    position: relative;
}

#faqq .widget-info .info-content {
    color: #9b9b9b;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    font-style: italic;
    margin-bottom: 23px;
}

#faqq .widget-content a {
    background-color: #bb9356;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 2;
    font-size: 14px;
    padding: 0;
    line-height: 49px;
    width: 170px;
    height: 51px;
    letter-spacing: 0.28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    border: 2px solid transparent;
    display: inline-block;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    vertical-align: middle;
    text-decoration: none;
    margin-bottom: 0;
}

#faqq .widget-content a:hover {
    color: #bb9356;
    background-color: white;
}

#faqq .divider--shape-10down {
    width: 124px;
    height: 13px;
    background: url(assets/img/shape-10down.png) center no-repeat;
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -62px;
}

/* HOME PAGE */
#home {
    background: url('assets/img/slide1.jpg');
}

#home::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-left: 0;
    position: absolute;
    z-index: 0;
    margin-top: 0;
    width: 100%;
    background-color: rgba(27, 26, 26, 0.75) !important;
    background-image: linear-gradient(180deg, rgba(27, 26, 26, 0.75) 0%, rgba(27, 26, 26, 0) 34%, rgba(27, 26, 26, 0) 82%, rgba(27, 26, 26, 0) 100%) !important;
}

#home .slide-subtitle {
    color: #bb9356;
    font-family: 'Ruthie', cursive;
    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 0;
    text-transform: capitalize;
}

#home .slide-heading h1 {
    text-transform: capitalize;
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    font-size: 85px;
    font-weight: 400;
    line-height: 1.3;
}

#home .slide-bio {
    color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    line-height: 26px;
}

#home .slide-action a {
    width: 270px;
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    outline-offset: -2px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    line-height: 49px;
    height: 51px;
    letter-spacing: 0.28px;
}

#home .slide-action a:hover {
    color: #bb9356;
    background-color: #ffffff;
    border-color: #ffffff;
}
/* #home .tp-leftarrow{
    height: 108px;
    top: 50%;
    position: relative;
    width: 25px;
    transform: matrix(1, 0, 0, 1, -8, -54); 
    left: 0px;
    background-image: url('assets/img/left-arrow-bg.png'); 
}
#home .tp-leftarrow::before{
    content: "";
    background-image: url('assets/img/left-arrow-bg.png');
    width: 28px;
    height: 108px;
    position: relative;
    left: 2px;
} */
#banner4{
    padding-top: 110px !important;
    padding-bottom: 110px !important;
    overflow: hidden;
}
#banner4 .col-6{
    position: relative;
    min-height: 1px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}
.heading .title{
    color: #bb9356;
    font-family: 'Ruthie', cursive;
    font-size: 45px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.heading h2{
    font-family: 'Abril Fatface', cursive;
    color: #222222;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;
}
.heading .heading-desc{
    font-family: 'Poppins', sans-serif;
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    padding: 0 40px;
}
#banner4 .col-6 a{
    color: #222222;
    border-color: #222222;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    line-height: 49px;
    width: 170px;
    height: 51px;
    letter-spacing: 0.28px;
    background-color: transparent;
    border: 2px solid #222222;
}
#banner4 .col-6 a:hover{
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}
#banner4 .banner-img img{
    max-width: 100%;
    height: auto;
    position: relative;
}
#banner4 .banner-img {
    max-width: 100%;
    height: auto;
    position: relative;
    vertical-align: middle;
}
#banner4 .col-6{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#banner4 .banner-img::after{
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px dashed #bb9356;
    opacity: 0.45;
    z-index: 1;
}
#specials {
    background: url('assets/img/bg21.jpg') 50% 0 no-repeat fixed;
}
#specials::before{
    background-color: rgba(27, 26, 26, 0.75);
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
#specials .row{
    margin-right: -15px;
    margin-left: -15px;
}
#specials .dishes-wrapper{
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.26);
    padding: 10px;
}
#specials .dishes-bordered{
    border: 1px dashed #cdaf80;
    padding: 70px 70px 20px 70px;
}
#specials .row::after{
        clear: both;
}
#specials .row:before {
    display: table;
    content: " ";
}
#specials .dish-panel{
    margin-bottom: 50px;
    position: relative;
}
#specials .dish-panel .dish-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
#specials .dish-panel .dish-img img{
max-width: 100px;
vertical-align: middle;
}
#specials .dish-content{
    padding-left: 130px;
}
#specials .dish-content-bio{
    border-bottom: 1px dashed #d8d8d8;
    padding-bottom: 10px;
    margin-bottom: 14px;
}
#specials .dish-content-bio h3{
    font-size: 17px;
    font-weight: 600;
    line-height: 29px;
    color: #333333;
    margin-bottom: 0;
    float: left;
}
#specials .dish-price{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 29px;
    color: #bb9356;
    text-align: right;
}
#specials .dish-desc{
    font-size: 13px;
    font-weight: 400;
    color: #a5a5a5;
    line-height: 23px;
    margin-bottom: 0;
}
#menuboard{
    padding-bottom: 90px;
    padding-top: 110px;
}
#menuboard .menu .dish-panel{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#menuboard .menu .dish-content{
    padding: 60px 25px;
    margin: 10px;
    border: 1px dashed #cdaf80;
    height: 370px;
    position: relative;
}
#menuboard .menu .dish-tag{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 3px 6px;
    background-color: #bb9356;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
#menuboard .menu .dish-price{
    font-size: 18px;
    line-height: 29px;
    text-align: center !important;
    color: #bb9356;
    font-weight: 600;
} 
#menuboard .menu .dish-title{
    line-height: 29px;
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
#menuboard .menu .dish-desc {
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 0;
    color: #a5a5a5;
}
/* PAGE GALERY */
#galery {
    background: url('assets/img/pagegalery.jpg') 50% 0 no-repeat fixed;
}
#gallerysection ul{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
#gallerysection ul li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
#gallerysection ul li a{
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: 0.44px;
    padding-bottom: 10px;
    position: relative;
    transition: all 0.3s ease;
    text-decoration: none;
}
#gallerysection ul li a::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 2px;
    background-color: #bb9356;
    transition: all .3s linear;
}
#gallerysection ul li a:hover{
    color: #bb9356;
    border-bottom: 2px solid #bb9356 ;
}
#gallerysection .portfolio-img{
    position: relative;
    overflow: hidden;
    text-align: center;
}
#gallerysection .portfolio-img img{
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
    vertical-align: middle;
}
#gallerysection .btn{
    color: #222222;
    border: 2px solid #222222;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    line-height: 49px;
    width: 170px;
    height: 51px;
    letter-spacing: 0.28px;
    border-radius: 50px;
}
#gallerysection .portfolio-item{
    transition: all 0.35s ease !important;
}
#gallerysection .btn:hover{
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}
#gallerysection .portfolio-item:hover .portfolio-hover{
    display: block;
}
#gallerysection .portfolio-item:hover .portfolio-hover .portfolio-action{
    transform: scale(1) !important;
}
#gallerysection .portfolio-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    height: 100%;
    padding: 25px;
}
#gallerysection .portfolio-hover .portfolio-action{
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.9);
    text-align: center;
    transition: all 0.35s !important;
}
#gallerysection .portfolio-hover .pos-vertical-center{
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
#gallerysection .portfolio-hover .portfolio-zoom{
    margin-bottom: 30px;
}
#gallerysection .portfolio-zoom .img-gallery-item{
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
    width: 20px;
    height: 20px;
}
#gallerysection .portfolio-zoom .img-gallery-item::before{
    position: absolute;
    content: "";
    left: 0;
    top: 10px;
    width: 20px;
    height: 1px;
    background-color: #ffffff;
}
#gallerysection .portfolio-zoom .img-gallery-item::after{
        position: absolute;
        content: "";
        left: 10px;
        top: 0;
        width: 1px;
        box-sizing: border-box;
        height: 20px;
        background-color: #ffffff;
}
/* CONTACT PAGE */
#contact {
    background: url('assets/img/contactpage.jpg') 50% 0 no-repeat fixed;
}
#contact-form .contact-desc{
    margin-bottom: 40px;
}
#contact-form .form-container .contact-desc p{
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
#contact-form .contact-row .contactt{
    float: left;
}
#contact-form .form-container .contact-info h3 {
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 23px;
}
#contact-form .form-container .contact-info p{
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 0;
    color: #a5a5a5;
    margin: 0 0 10px;
}
#contact-form .contact-row{
    margin-bottom: 30px !important;
    margin-right: -15px;
    margin-left: -15px;
}
#contact-form .contact-info a{
    color: #bb9356;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
#contact-form .col-6 input{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 49px;
    border: 1px solid #eee;
    background: transparent;
    padding-left: 18px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    width: 100%;
    padding: 6px 12px;
    height: 49px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#contact-form .col-6 input:focus{
    border-color: #bb9356 !important;
    box-shadow: none;
}
#contact-form .col-6 input:hover{
    border-color: #bb9356 !important;
}